.buyerPage {
  padding-top: 130px;
}

.buyerPage_border {
  padding: 0px 250px;
}

.buyerPage_title {
  color: white;
  font-size: 24px;
  font-family: Oswald;
  font-weight: 500;
  padding-bottom: 16px;
}

.buyerPage_imgList {
  border-radius: 8px;
  width: 100%;
  height: 676px;
  background-color: #373943;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 110px;
  row-gap: 8px;
  box-sizing: border-box;
}

.buyerPage_card {
  margin-top: -4px;
  width: 250px;
  height: 170px;
  background-color: #272a34;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.buyerPage_card_img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.buyerPage_card_title {
  padding-top: 8px;
  color: #38f2af;
  font-size: 18px;
  font-family: Oswald;
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 8px;
}

.buyerPage_card_author {
  color: #828282;
  font-size: 14px;
  font-family: Oswald;
  margin-bottom: 50px;
  margin-left: 16px;
}

.buyerPage_card_bidding {
  color: #38f2af;
  font-size: 14px;
  font-family: Oswald;
  margin-left: 16px;
  padding-top: 8px;
}

.buyerPage_card_price {
  color: #38f2af;
  font-size: 14px;
  font-family: Oswald;
  border: 1px solid #38f2af;
  padding: 4px 12px;
  border-radius: 8px;
  margin-top: 4px;
  margin-right: 16px;
}

.buyerPage_filter {
  margin-bottom: 8px;
  display: flex;
  column-gap: 16px;
}

.buyerPage_filter_button {
  background-color: #373943;
  border-radius: 8px;
  border: 2px solid black;
  color: #38f2af;
  font-size: 14px;
  font-family: Oswald;
  padding: 2px 5px;
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}
.buyerPage_filter_button_active {
  background-color: #373943;
  border-radius: 8px;
  border: 2px solid #38f2af;
  color: #38f2af;
  font-size: 16px;
  font-family: Oswald;
  padding: 2px 5px;
}

.buyerPage_result {
  font-size: 14px;
  font-family: Oswald;
  color: white;
}

.buyerPage_page {
  font-size: 14px;
  font-family: Oswald;
  color: white;
}

.buyerPage_page_num {
  font-size: 14px;
  font-family: Oswald;
  color: white;
  padding: 0px 8px;
}
.buyerPage_page_num_active {
  font-size: 14px;
  font-family: Oswald;
  color: #38f2af;
  padding: 0px 8px;
}
.buyerPage_bottom_container {
    margin-top: 16px;
}